extends layout

block content
  .home-page
    .header
      .left
        h2.title= title
      .right
        ul
          li
            a(href='recipes') search
          li
            a(href='login') login
    .main
      h1 Ready for Cooking
      div what are you gonna cook today?
    .footer
      div Coming soon
    //- h1= title
      ul
        li
          a(href='login') login
        li
          a(href='recipes') search
